*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.filter
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
    background-color: #F9C319;
}
.table
{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 500px; ;
}